<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="ri-instagram-line"></i>
      <i class="ri-twitter-x-line"></i>
      <i class="ri-youtube-line"></i>
    </div>
    <div class="f-info-brand"><p>&copy; 2024 WanderLust</p></div>
    <div class="f-info-links">
      <a href="">Privacy</a>
      <a href="">Terms & Conditions</a>
      <a href="">Our Blogs</a>
    </div>
  </div>
</footer>
