<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top border-bottom" style="height: 4.3rem;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><i class="ri-compass-line nav-icon"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All listing</a>
        <a class="nav-link" href="/listings/new">Add new listing</a>
      </div>

      <div class="search-box">
        <form action="/listings/search" method="get" class="d-flex align-items-center">
          <input 
            type="text" 
            name="location" 
            class="form-control me-2" 
            placeholder="Search by location" 
            aria-label="Search by location" 
          />
          <button type="submit" class="btn btn-outline-primary search-btn">
            <i class="ri-search-line"></i>
          </button>
        </form>
      </div>
      
      <div class="navbar-nav ms-auto" style="margin-right: 100px">
        <% if (!CurrentUser) { %>
        <a class="nav-link" href="/users/signup">Sign Up</a>
        <a class="nav-link" href="/users/login">Log In</a>
        <% } %> <% if (CurrentUser) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <!-- <i class="ri-user-3-fill"></i> -->
              <i class="ri-user-line"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/users/<%= CurrentUser._id %>"><i class="ri-user-line dropdown-item-icon"></i>Profile</a></li>
              <li><a class="dropdown-item" href="/users/<%= CurrentUser._id %>/listings"><i class="ri-home-4-line dropdown-item-icon"></i>Listings</a></li>
              <li><a class="dropdown-item" href="/users/<%= CurrentUser._id %>/bookings" style="border-bottom: 0.5px solid rgba(0, 0, 0,0.2);"><i class="ri-history-line dropdown-item-icon"></i>Bookings</a></li>
              <li><a class="dropdown-item" href="/users/logout"><i class="ri-logout-box-r-line dropdown-item-icon"></i> Log Out</a></li>
            </ul>
          </li>
        <!-- <a class="nav-link" href="/logout">Log Out</a> -->
        
        <% } %>
      </div>
    </div>
  </div>
</nav>
