<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>

    <style>
      #preLoader {
        background: white url(/preLoad.gif) no-repeat center center;
        background-size: 30%;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
      }
    </style>
  </head>
  <body>
    <div id="preLoader"></div>

    <script>
      var loader = document.querySelector("#preLoader");
      loader.style.display = "block";
      setTimeout(() => {
        loader.style.display = "none";
        window.location.href = "/listings"
      }, 5000);
    </script>
  </body>
</html>
