<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
  </head>
  <body>
    <h3>All Listings</h3>
    <a href="/listings/new">Add new listing</a>
    <br />
    <ul>
      <% for(let lis of allListings) { %>
      <li><a href="/listings/<%= lis._id %>"><%= lis.title %></a></li>
      <% } %>
    </ul>
  </body>
</html>
