<% layout('layouts/boilerplate') %>


  <h3>All Listings</h3>
  <br />
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
    <% for(let lis of allListings) { %>
    <a class="listing-link" href="/listings/<%= lis._id %>">
      <div class="card listing-card1 col h-100 listing-card1">
        <img
          src="<%=lis.image%>"
          class="card-img-top"
          alt="..."
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <h6 class="card-title"><%= lis.title %></h6>
          <p class="card-text">
            &#8377;<%= lis.price.toLocaleString("en-IN")%> / night
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>

