<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-8 offset-2">
    <br><br>
    <h3>Create New Listing</h3>
    <br>
    <form action="/listings" method="post">
      <div>
        <label for="title" class="form-label"> Title : </label>
        <input
          type="text"
          name="listing[title]"
          id="title"
          placeholder="Enter title"
          class="form-control mb-3"
        />
      </div>

      <div>
        <label for="description" class="form-label"> Description : </label>
        <textarea
          class="form-control mb-3"
          name="listing[description]"
          id="description"
        ></textarea>
      </div>

      <div>
        <label for="image" class="form-label"> Image : </label>
        <input
          class="form-control mb-3"
          type="text"
          name="listing[image]"
          id="image"
          placeholder="Enter image url/link"
        />
      </div>

      <div>
        <label for="location" class="form-label"> Location : </label>
        <input
          type="text"
          class="form-control mb-3"
          name="listing[location]"
          id="location"
          placeholder="Enter Location"
        />
      </div>

      <div class="row">
        <div class="col-md-8">
          <label for="country" class="form-label"> Country : </label>
          <input
            type="text"
            name="listing[country]"
            class="form-control mb-3"
            id="country"
            placeholder="Enter Country"
          />
        </div>
        <div class="col-md-4">
          <label for="price" class="form-label"> Price : </label>
          <input
            class="form-control mb-3"
            type="number"
            name="listing[price]"
            id="price"
            placeholder="Enter Price"
          />
        </div>
      </div>
      <br />
      <button class="btn add-btn">Add</button>
      <br><br>
    </form>
  </div>
</div>
