@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* NAVBAR */
.navbar {
  background-color: whitesmoke !important;
  height: 4rem;
}

.nav-icon {
  font-size: 2rem;
  color: #ff385c;
}

.nav-link {
  color: #222222 !important;
  transition: all 0.1s ease-in;
  background-color: whitesmoke !important;
}

.nav-link:hover {
  color: #ff385c !important;
}

/* INDEX CARDS */
.card-link {
  text-decoration: none;
}

.listing-card1 {
  border: none;
  margin-bottom: 2rem;
}

.card-img-top {
  width: 100% !important;
  background-position: center !important;
  border-radius: 1rem !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-title {
  font-weight: 600 !important;
}

.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
  background-color: white;
}

.card-img-overlay:hover {
  opacity: 0.2;
}

/* New Listing */
.form-label {
  font-weight: 500 !important;
}

.add-btn {
  background-color: #ff385c !important;
  border: none;
  color: white;
}

/* SHOW */
.show-img {
  height: 25rem;
}

.edit-btn {
  background-color: #ff385c !important;
  color: white;
}

/* FOOTER */
.f-info {
  height: 8rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.3rem;
  margin-right: 15px;
}

.f-info-links a {
  color: #222222;
  text-decoration: none;
}

.f-info-links a:hover {
  text-decoration: underline;
  color: #ff385c;
}

/* map */
#map {
  height: 18rem;
  width: 52rem;
}

#preLoader {
  background: white url(/preLoad.gif) no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* Home */
.page1 {
  height: 100vh;
  width: 100%;
  background-color: #ff385c;
  /* background-image: url(/home.avif); */
  background-image: url(https://images.unsplash.com/photo-1544984243-ec57ea16fe25?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

#home-text {
  position: relative;
  top: 30%;
  left: 7%;
  color: white;
  /* background-color: white; */
  width: 40%;
  height: 40%;
}

#home-text h1 {
  font-size: 3.5rem;
}

.page2 {
  height: 100vh;
  width: 100%;
  /* background-color: #ff385c; */
}

#top-selling {
  text-align: center;
  padding-top: 40px;
}

#top-selling h4 {
  padding-top: 6px;
  font-size: 46px;
}

#top-selling p {
  /* padding-top: 20px; */
  font-size: 22px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.explore-btn{
  position: absolute;
  margin-left: 29rem;
  margin-top: -1.5rem;
}

.page3 {
  height: 100vh;
  width: 100%;
  background-color: rgb(31, 31, 31);
}

#services-pg3 {
  text-align: center;
  padding-top: 40px;
}

#services-pg3 h4 {
  padding-top: 6px;
  font-size: 46px;
}

#services-pg3 p {
  /* padding-top: 20px; */
  font-size: 22px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}