<% layout('layouts/boilerplate') %>

<div class="card offset-3 col-md-6 mt-5 mb-5">
  <div class="card-header text-black">
    <h1 class="text-center">Change Password</h1>
  </div>
  <div class="card-body">

    <form action="/users/<%= user._id %>/change-password" method="POST" class="ms-5 me-5" novalidate >

        <div class="mt-3">
        <label for="oldPassword">Enter Old Password:</label>
        <input type="password" class="form-control mt-2" id="oldPassword" name="oldPassword" required>

        <div class="invalid-feedback">Old Password required!</div>
        </div>

        <div class="mt-4">
        <label for="newPassword">Enter New Password:</label>
        <input type="password" class="form-control mt-2" id="newPassword" name="newPassword" required>

        <div class="invalid-feedback">New Password required!</div>
        </div>

        <div class="text-center mt-4 mb-3">
        <button type="submit" class="btn btn-dark">Change Password</button>
      </div>
    </form>
  </div>
</div>
