<% layout('layouts/boilerplate') %>

<div class="row mt-3">
  <div class="col-6 offset-3">
    <h3 style="text-align: center;" class="mb-5">Login to WanderLust</h3>    
    <form
      action="/users/login"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <div>
        <label for="username" class="form-label"> UserName : </label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Enter username"
          class="form-control mb-3"
          required
        />
        <div class="invalid-feedback">Username required!</div>
      </div>
      <div>
        <label for="password" class="form-label"> Password : </label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter password"
          class="form-control mb-3"
          required
        />
        <div class="invalid-feedback">Password required!</div>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-4">
        <button class="btn btn-success">Log In</button>
        <a href="/users/signup" class="ms-3">No account? Sign up</a>
      </div>
    </form>
  </div>
</div>
