<% layout('layouts/boilerplate') %>

    <div class="card shadow-lg offset-md-3 col-md-6 mt-5">
      <div class="card-header bg-primary text-white">
        <h1 class="text-center">User Profile</h1>
      </div>
      <div class="card-body">
        <div class="profile-info text-center">
          <h2>Username: <%= user.username %></h2>
          <p>Email: <%= user.email %></p>
          <p>Contact: <%= user.contact %></p>
        </div>
        <div class="text-center mt-4">
          <a href="/users/<%= user._id %>/edit" class="btn btn-primary edit-btn">Edit Profile</a>
        </div>
      </div>
    </div>
  