<% layout('layouts/boilerplate') %>

<div class="card shadow-lg offset-md-3 col-md-6 mt-5">
  <div class="card-header bg-primary text-white">
    <h1 class="text-center">User Profile</h1>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" value="<%= user.username %>" disabled>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" value="<%= user.email %>" disabled>
      </div>
      <div class="form-group">
        <label for="contact">Contact:</label>
        <input type="text" class="form-control" id="contact" value="<%= user.contact %>" disabled>
      </div>
      <div class="text-center mt-4">
        <a href="/users/<%= user._id %>/edit" class="btn btn-primary edit-btn">Edit Profile</a>
      </div>
    </form>
  </div>
</div>
